<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>749647206449-eoplqm6f06k65svnn8lfs5fhgms0pms8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.749647206449-eoplqm6f06k65svnn8lfs5fhgms0pms8</string>
	<key>API_KEY</key>
	<string>AIzaSyBpUqhMZvkhmsEMHID5Wqdf8MhKFMsNq6U</string>
	<key>GCM_SENDER_ID</key>
	<string>749647206449</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nontawat.FarmProject</string>
	<key>PROJECT_ID</key>
	<string>farmmanager-c420c</string>
	<key>STORAGE_BUCKET</key>
	<string>farmmanager-c420c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:749647206449:ios:1c625961419c69d8</string>
	<key>DATABASE_URL</key>
	<string>https://farmmanager-c420c.firebaseio.com</string>
</dict>
</plist>